@page
@model IndexModel
@{
    ViewData["Title"] = Resources.Pages.IndexModel.PageTitle;
}

<div class="text-center pt-3 text-muted">
    <img src="~/client.png" class="client-logo" />
    <h3 class="pt-3">@ViewData["ClientName"]</h3>
    <p>@Resources.Pages.IndexModel.UnderConstructionMessage</p>
    <p><img src="~/working.gif" /></p>
</div>
